body{
    background-color: #11142E;
    background: url(./assets/backGround.svg);
    width: 100vw;
    overflow-x: hidden;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    transition: 0.5s ease;
    scroll-behavior: smooth;
  }
  
  @media screen and (max-width: 480px) {
    html {
      font-size: 45%;
    }
    body{
      overflow-x: hidden;
    }
  }
  @media (max-width: 768px) { /* Adjust breakpoint as needed */

    html, body {
      overflow-x: hidden;
    }
    body {
      position: relative
    }
  }
  