body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#root, .events-page {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.events-page {
    min-height: 100vh;
    background-color: #F0F0F0;
}