.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    z-index: 1;
    height: 85vh;
}

.hero-background {
    position: absolute;
    width: 300rem;
    z-index: -1;
}

.hero-logo{
    width: 500px;
}

@media screen and (max-width: 768px) {
    .hero-logo{
        width: 250px;
    }
    .hero-background {
        position: absolute;
        width: 250rem;
        z-index: -1;
    }
}
